{#
    This file is part of Shorty.

    Shorty is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Shorty is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Shorty.  If not, see <http://www.gnu.org/licenses/>.
#}

{% import "macros.html" as macros %}

<a class="brand" href="{{ url_for('frontend.index') }}">Shorty</a>
{% if login_form %}
<form action="{{ url_for('users.login') }}" class="pull-right" method="POST">
    {{ login_form.username(class="input-small", placeholder="Username") }}
    {{ login_form.password(class="input-small", placeholder="Password") }}
    {{ login_form.submit(class="btn info") }}
{#    {{ macros.render_field(login_form.username, with_label=False, class="input-small", placeholder="Username") }}#}
{#    {{ macros.render_field(login_form.password, with_label=False, class="input-small", placeholder="Password") }}#}
{#    {{ macros.render_field(login_form.submit, with_label=False, class="btn info") }}#}
{#    <input class="input-small" type="text" placeholder="Username">#}
{#    <input class="input-small" type="password" placeholder="Password">#}
{#    <button class="btn info" type="submit">Sign In</button>#}
    <a class="btn info" id="register" href="{{ url_for('users.register') }}">Register</a>
</form>
{% endif %}
