 {#
    This file is part of Shorty.

    Shorty is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Shorty is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Shorty.  If not, see <http://www.gnu.org/licenses/>.
#}

<a class="brand" href="{{ url_for('frontend.index') }}">
    <img src="{{ MEDIA }}/home.png" class="home">
</a>
{% if has_user_bar is not defined %}
    {% set has_user_bar = True %}
{% endif %}
{% if has_user_bar %}
    {% if current_user.is_authenticated() %}
        <ul class="secondary-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">{{ current_user.name }}</a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('users.links') }}">My links</a></li>
                    <li><a href="{{ url_for('users.profile') }}">Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="logout_link">Sign Out</a></li>
                </ul>
            </li>
        </ul>
    {% else %}
        <ul class="secondary-nav">
        <li><a href="{{ url_for('users.login') }}">Sign In</a></li>
        <li><p>or</p></li>
        <li><a href="{{ url_for('users.register') }}">Register</a></li>
        </ul>
    {% endif %}
{% endif %}
