{#
    This file is part of Shorty.

    Shorty is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Shorty is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Shorty.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block body %}
<div class="row">
    <div class="span12">
        <br />
        <h4><em>
            Please enter your informations.
            </em>
        </h4>
        <br />
    </div>
</div>
<div class="row">
    <div class="span12">
        <form method="POST" action="{{ url_for('users.register') }}">
            <fieldset>
                {{ macros.render_field(reg_form.username,
                        with_label=False,
                        placeholder=reg_form.username.label.text,
                        class="input-xlarge") }}
                {{ macros.render_field(reg_form.email,
                        with_label=False,
                        placeholder=reg_form.email.label.text,
                        class="input-xlarge") }}
                {{ macros.render_field(reg_form.password,
                        with_label=False,
                        placeholder=reg_form.password.label.text,
                        class="input-xlarge with-popover",
                        rel="popover",
                        title="Password requirements:",
                        **{"data-content": password_requirements}) }}
                        {# ^HACK: we can't use '-' in the key otherwise #}
                {{ macros.render_field(reg_form.confirm,
                        with_label=False,
                        placeholder=reg_form.confirm.label.text,
                        class="input-xlarge") }}
                {{ macros.render_field(reg_form.submit,
                        with_label=False,
                        class="btn-primary btn-large",
                        value=reg_form.submit.label.text) }}
                {{ reg_form.hidden_tag() }}
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
